@import "variables";

.CalendarYear {
  text-align: center;
  padding: 0 13px;
  vertical-align: top;

  &:first-of-type {
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}

.CalendarYear--horizontal {
  display: inline-block;
  min-height: 100%;
}

.CalendarYear--vertical {
  display: block;
}

.CalendarYear__caption {
  color: $react-dates-color-gray-dark;
  margin-top: 7px;
  font-size: 18px;
  padding: 15px 0 35px;
  text-align: center;
  // necessary to not hide borders in FF
  margin-bottom: 2px;
}

// This order is important.
.CalendarYear__month {
  border: 1px solid lighten($react-dates-color-border-light, 3);
  padding: 0;
  box-sizing: border-box;
  color: $react-dates-color-gray;
  cursor: pointer;
  width: 90px;
  height: 38px;

  &:active {
    background: darken($react-dates-color-white, 5%);
  }
}

.CalendarYear__month--highlighted-calendar {
  background: $react-dates-color-highlighted;
  color: $react-dates-color-gray;
  cursor: default;

  &:active {
    background: $react-dates-color-secondary;
  }
}

.CalendarYear__month--hovered {
  background: lighten($react-dates-color-border-light, 3);
  border: 1px double darken($react-dates-color-border-light, 3);
  color: inherit;
}

.CalendarYear__month--blocked-minimum-nights {
  color: $react-dates-color-gray-lighter;
  background: $react-dates-color-white;
  border: 1px solid lighten($react-dates-color-border-light, 3);
  cursor: default;

  &:active {
    background: $react-dates-color-white;
  }
}

.CalendarYear__month--selected-span {
  background: $react-dates-color-primary-shade-2;
  border: 1px double $react-dates-color-primary-shade-1;
  color: $react-dates-color-white;

  &.CalendarYear__month--hovered,
  &:active {
    background: $react-dates-color-primary-shade-1;
    border: 1px double $react-dates-color-primary;
  }

  &.CalendarYear__month--last-in-range {
    border-right: $react-dates-color-primary;
  }
}

.CalendarYear__month--hovered-span,
.CalendarYear__month--after-hovered-start {
  background: $react-dates-color-primary-shade-4;
  border: 1px double $react-dates-color-primary-shade-3;
  color: $react-dates-color-secondary;
}

.CalendarYear__month--selected-start,
.CalendarYear__month--selected-end,
.CalendarYear__month--selected {
  background: $react-dates-color-primary;
  border: 1px double $react-dates-color-primary;
  color: $react-dates-color-white;

  &:active {
    background: $react-dates-color-primary;
  }
}

.CalendarYear__month--blocked-calendar {
  background: $react-dates-color-gray-lighter;
  color: $react-dates-color-gray-light;
  cursor: default;

  &:active {
    background: $react-dates-color-gray-lighter;
  }
}

.CalendarYear__month--blocked-out-of-range {
  color: $react-dates-color-gray-lighter;
  background: $react-dates-color-white;
  border: 1px solid lighten($react-dates-color-border-light, 3);
  cursor: default;

  &:active {
    background: $react-dates-color-white;
  }
}
